In [1]:
#import library
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None) # show all columns
# pd.set_option('display.max_rows', None) # show all rows

In [3]:
#read csv file

df = pd.read_csv('data/owid-covid-data.csv')

# Step 1: Remove duplicate or irrelevant observations

In [4]:
df.isna().sum()

iso_code                                        0
continent                                    9995
location                                        0
date                                            0
total_cases                                  3040
                                            ...
human_development_index                     30197
excess_mortality_cumulative_absolute       161270
excess_mortality_cumulative                161270
excess_mortality                           161270
excess_mortality_cumulative_per_million    161270
Length: 67, dtype: int64

In [5]:
## drop columns that has null more than 150000
df.drop(df.columns[df.isna().sum()> 150000], axis = 1, inplace = True)

In [6]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [7]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,1.639770e+05,1.638430e+05,1.618580e+05,1.461080e+05,146151.000000,144050.000000,163216.000000,163082.000000,161103.000000,145360.000000,145403.000000,143308.000000,126199.000000,23538.000000,23538.000000,24684.000000,24684.000000,6.758700e+04,6.953600e+04,69536.000000,67587.000000,8.436500e+04,84365.000000,78973.000000,78394.000000,4.556000e+04,4.332100e+04,4.059300e+04,1.782000e+04,3.771900e+04,8.540100e+04,45560.000000,43321.000000,40593.000000,17820.000000,85401.000000,8.407900e+04,84079.000000,130959.000000,1.659390e+05,148540.000000,138401.000000,136901.000000,137659.000000,139077.000000,91590.000000,137345.000000,144546.000000,106488.000000,105027.000000,68854.000000,124174.000000,155913.000000,136820.000000
mean,2.560297e+06,1.164153e+04,1.164055e+04,5.791914e+04,170.941143,172.546963,29825.981701,168.196259,167.033507,512.154301,1.686368,1.686839,0.999941,902.782352,23.947322,4193.309350,167.218384,6.833727e+04,1.745877e+07,745.584433,3.227168,6.108206e+04,2.913341,0.097872,198.390443,1.734137e+08,8.874181e+07,7.004719e+07,1.964212e+07,1.167313e+06,5.198079e+05,73.387224,38.049239,32.700467,12.565946,3297.318778,2.142687e+05,0.148757,54.499280,1.473961e+08,464.256373,30.566758,8.762152,5.534009,19642.207419,13.581206,260.227222,8.211348,10.626991,32.778648,50.786567,3.027706,73.575944,0.725574
std,1.560856e+07,8.477591e+04,8.294513e+04,3.034096e+05,831.419443,816.374300,52749.291587,713.462096,537.503867,787.876999,5.150768,3.619836,0.368448,2677.742352,28.046580,11650.073067,209.335025,2.160574e+05,6.454048e+07,1802.797405,8.928600,1.936986e+05,7.499338,0.111083,4203.557645,7.829246e+08,4.017363e+08,3.319650e+08,9.318071e+07,4.359996e+06,2.801617e+06,64.767648,28.946609,27.772723,17.407772,3900.621494,1.181535e+06,0.245593,20.455528,7.053961e+08,2143.950229,9.102095,6.146170,4.186023,20645.814721,20.022162,119.864451,4.495628,10.557987,13.524077,31.811432,2.449998,7.491446,0.149962
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,4.700000e+01,0.137000,15.100000,1.144000,0.526000,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000
25%,2.023000e+03,1.000000e+00,7.000000e+00,7.975000e+01,0.000000,0.143000,627.713000,0.041000,1.630000,18.658000,0.000000,0.018000,0.810000,28.000000,3.929000,129.000000,26.448250,2.481000e+03,3.756105e+05,34.990250,0.256000,2.155000e+03,0.231000,0.018600,7.200000,6.074185e+05,3.941760e+05,2.781310e+05,2.440750e+03,6.285000e+03,1.053000e+03,12.335000,8.750000,5.200000,0.010000,680.000000,4.250000e+02,0.024000,40.740000,1.172369e+06,36.253000,22.200000,3.507000,2.063000,4449.898000,0.600000,168.711000,5.310000,1.900000,21.600000,19.351000,1.300000,69.500000,0.602000
50%,2.630900e+04,7.900000e+01,1.074290e+02,7.860000e+02,2.000000,2.429000,4785.983000,11.438500,18.890000,129.307500,0.127000,0.292000,1.000000,146.000000,13.375000,704.000000,84.541500,9.816000e+03,1.964175e+06,180.531500,0.937000,8.694000e+03,0.900000,0.057100,17.200000,4.808184e+06,2.944926e+06,2.262155e+06,4.581975e+05,4.086000e+04,9.259000e+03,59.115000,36.520000,27.350000,3.200000,2177.000000,3.955000e+03,0.072000,54.630000,8.478242e+06,85.129000,29.900000,6.614000,3.915000,12951.839000,2.200000,243.811000,7.170000,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000
75%,3.016040e+05,1.066000e+03,1.151964e+03,7.332000e+03,20.000000,21.286000,38224.621250,101.506500,121.477000,717.944500,1.369000,1.767000,1.180000,594.000000,34.769000,2761.750000,227.896250,3.894450e+04,9.212515e+06,710.013500,2.889000,3.613700e+04,2.703000,0.138800,52.200000,2.964214e+07,1.727184e+07,1.375874e+07,4.077480e+06,2.739190e+05,6.591200e+04,124.320000,64.730000,58.200000,20.795000,4730.000000,2.691850e+04,0.190000,70.370000,3.393361e+07,212.865000,39.100000,14.178000,8.678000,27936.896000,21.200000,329.942000,10.430000,19.300000,41.300000,83.241000,4.000000,78.930000,0.845000
max,4.497273e+08,4.206334e+06,3.444237e+06,6.014690e+06,18020.000000,14689.143000,706541.904000,77691.083000,16052.608000,6332.605000,453.772000,144.167000,6.120000,28891.000000,177.282000,154536.000000,1544.082000,3.740296e+06,8.233288e+08,29001.016000,534.013000,3.080396e+06,147.603000,0.991200,422065.600000,1.091123e+10,4.992479e+09,4.422205e+09,1.439257e+09,5.490759e+07,4.353645e+07,336.160000,124.650000,121.530000,89.990000,117497.000000,2.141915e+07,11.750000,100.000000,7.874966e+09,20546.766000,48.200000,27.049000,18.493000,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000

In [8]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,0.126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [9]:
continent_infect = df[['continent','location','date','total_cases_per_million','total_deaths_per_million','gdp_per_capita','population','population_density','extreme_poverty','aged_65_older','total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred','hosp_patients_per_million','icu_patients_per_million','hospital_beds_per_thousand']]

In [10]:
continent_infect

,continent,location,date,total_cases_per_million,total_deaths_per_million,gdp_per_capita,population,population_density,extreme_poverty,aged_65_older,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,hosp_patients_per_million,icu_patients_per_million,hospital_beds_per_thousand
0,Asia,Afghanistan,2020-02-24,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
1,Asia,Afghanistan,2020-02-25,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
2,Asia,Afghanistan,2020-02-26,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
3,Asia,Afghanistan,2020-02-27,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
4,Asia,Afghanistan,2020-02-28,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167012,Africa,Zimbabwe,2022-03-04,15818.731,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.55,28.99,22.59,0.97,NaN,NaN,1.7
167013,Africa,Zimbabwe,2022-03-05,15837.284,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.58,29.00,22.60,0.98,NaN,NaN,1.7
167014,Africa,Zimbabwe,2022-03-06,15849.873,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.60,29.01,22.60,0.99,NaN,NaN,1.7
167015,Africa,Zimbabwe,2022-03-07,15883.069,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.63,29.02,22.61,1.00,NaN,NaN,1.7
167016,Africa,Zimbabwe,2022-03-08,15925.012,357.801,1899.775,15092171.0,42.729,21.4,2.822,NaN,NaN,NaN,NaN,NaN,NaN,1.7

In [11]:
continent_infect['continent'].value_counts()

Africa           39582
Europe           37242
Asia             36344
North America    25033
South America     9556
Oceania           9265
Name: continent, dtype: int64

In [12]:
continent_infect.isna().sum()

continent                                9995
location                                    0
date                                        0
total_cases_per_million                  3801
total_deaths_per_million                21657
gdp_per_capita                          27940
population                               1078
population_density                      18477
extreme_poverty                         75427
aged_65_older                           30116
total_vaccinations_per_hundred         121457
people_vaccinated_per_hundred          123696
people_fully_vaccinated_per_hundred    126424
total_boosters_per_hundred             149197
hosp_patients_per_million              142333
icu_patients_per_million               143479
hospital_beds_per_thousand              42843
dtype: int64

In [13]:
continent_infect = continent_infect[continent_infect['continent'].notnull()]
continent_infect

,continent,location,date,total_cases_per_million,total_deaths_per_million,gdp_per_capita,population,population_density,extreme_poverty,aged_65_older,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,hosp_patients_per_million,icu_patients_per_million,hospital_beds_per_thousand
0,Asia,Afghanistan,2020-02-24,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
1,Asia,Afghanistan,2020-02-25,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
2,Asia,Afghanistan,2020-02-26,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
3,Asia,Afghanistan,2020-02-27,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
4,Asia,Afghanistan,2020-02-28,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167012,Africa,Zimbabwe,2022-03-04,15818.731,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.55,28.99,22.59,0.97,NaN,NaN,1.7
167013,Africa,Zimbabwe,2022-03-05,15837.284,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.58,29.00,22.60,0.98,NaN,NaN,1.7
167014,Africa,Zimbabwe,2022-03-06,15849.873,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.60,29.01,22.60,0.99,NaN,NaN,1.7
167015,Africa,Zimbabwe,2022-03-07,15883.069,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.63,29.02,22.61,1.00,NaN,NaN,1.7
167016,Africa,Zimbabwe,2022-03-08,15925.012,357.801,1899.775,15092171.0,42.729,21.4,2.822,NaN,NaN,NaN,NaN,NaN,NaN,1.7

In [14]:
continent_infect = continent_infect[continent_infect['population'].notna()]
continent_infect

,continent,location,date,total_cases_per_million,total_deaths_per_million,gdp_per_capita,population,population_density,extreme_poverty,aged_65_older,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,hosp_patients_per_million,icu_patients_per_million,hospital_beds_per_thousand
0,Asia,Afghanistan,2020-02-24,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
1,Asia,Afghanistan,2020-02-25,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
2,Asia,Afghanistan,2020-02-26,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
3,Asia,Afghanistan,2020-02-27,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
4,Asia,Afghanistan,2020-02-28,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167012,Africa,Zimbabwe,2022-03-04,15818.731,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.55,28.99,22.59,0.97,NaN,NaN,1.7
167013,Africa,Zimbabwe,2022-03-05,15837.284,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.58,29.00,22.60,0.98,NaN,NaN,1.7
167014,Africa,Zimbabwe,2022-03-06,15849.873,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.60,29.01,22.60,0.99,NaN,NaN,1.7
167015,Africa,Zimbabwe,2022-03-07,15883.069,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.63,29.02,22.61,1.00,NaN,NaN,1.7
167016,Africa,Zimbabwe,2022-03-08,15925.012,357.801,1899.775,15092171.0,42.729,21.4,2.822,NaN,NaN,NaN,NaN,NaN,NaN,1.7

In [15]:
continent_infect[continent_infect['hosp_patients_per_million'].isna()]

,continent,location,date,total_cases_per_million,total_deaths_per_million,gdp_per_capita,population,population_density,extreme_poverty,aged_65_older,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,hosp_patients_per_million,icu_patients_per_million,hospital_beds_per_thousand
0,Asia,Afghanistan,2020-02-24,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
1,Asia,Afghanistan,2020-02-25,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
2,Asia,Afghanistan,2020-02-26,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
3,Asia,Afghanistan,2020-02-27,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
4,Asia,Afghanistan,2020-02-28,0.126,NaN,1803.987,39835428.0,54.422,NaN,2.581,NaN,NaN,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167012,Africa,Zimbabwe,2022-03-04,15818.731,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.55,28.99,22.59,0.97,NaN,NaN,1.7
167013,Africa,Zimbabwe,2022-03-05,15837.284,357.603,1899.775,15092171.0,42.729,21.4,2.822,52.58,29.00,22.60,0.98,NaN,NaN,1.7
167014,Africa,Zimbabwe,2022-03-06,15849.873,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.60,29.01,22.60,0.99,NaN,NaN,1.7
167015,Africa,Zimbabwe,2022-03-07,15883.069,357.735,1899.775,15092171.0,42.729,21.4,2.822,52.63,29.02,22.61,1.00,NaN,NaN,1.7
167016,Africa,Zimbabwe,2022-03-08,15925.012,357.801,1899.775,15092171.0,42.729,21.4,2.822,NaN,NaN,NaN,NaN,NaN,NaN,1.7

In [16]:
continent_infect = continent_infect.fillna({'total_cases_per_million': 0, 'total_deaths_per_million': 0, 'total_vaccinations_per_hundred': 0 })

In [17]:
continent_infect.isna().sum()

continent                                   0
location                                    0
date                                        0
total_cases_per_million                     0
total_deaths_per_million                    0
gdp_per_capita                          18405
population                                  0
population_density                       8942
extreme_poverty                         65892
aged_65_older                           20581
total_vaccinations_per_hundred              0
people_vaccinated_per_hundred          118672
people_fully_vaccinated_per_hundred    121188
total_boosters_per_hundred             142874
hosp_patients_per_million              132021
icu_patients_per_million               133167
hospital_beds_per_thousand              33308
dtype: int64

In [18]:
continent_infect.dtypes

continent                               object
location                                object
date                                    object
total_cases_per_million                float64
total_deaths_per_million               float64
gdp_per_capita                         float64
population                             float64
population_density                     float64
extreme_poverty                        float64
aged_65_older                          float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
total_boosters_per_hundred             float64
hosp_patients_per_million              float64
icu_patients_per_million               float64
hospital_beds_per_thousand             float64
dtype: object

In [19]:
africa_infect = continent_infect[continent_infect['continent'] == 'Africa']
europe_infect = continent_infect[continent_infect['continent'] == 'Europe']
asia_infect = continent_infect[continent_infect['continent'] == 'Asia']
north_america_infect = continent_infect[continent_infect['continent'] == 'North America']
south_america_infect = continent_infect[continent_infect['continent'] == 'South America']
oceania_infect = continent_infect[continent_infect['continent'] == 'Oceania']